<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.guitarShop.mapper.ItemMapper">

    <resultMap id="itemResultMap" type="com.project.guitarShop.domain.item.Item">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="image" column="image"/>
        <result property="description" column="description"/>
        <result property="quantity" column="quantity"/>
        <result property="category" column="category"/>
        <result property="brand" column="brand"/>
    </resultMap>


    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO item (name, price, image, description, quantity, category, brand)
        VALUES (#{name}, #{price}, #{image}, #{description}, #{quantity}, #{category}, #{brand})
    </insert>

    <update id="update">
        UPDATE member
        SET name = #{name}, price = #{price}, image = #{image}, description = #{description},
        quantity = #{quantity}, category = #{category}, brand = #{brand} WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM member WHERE id = #{id}
    </delete>

    <select id="findById">
        SELECT * FROM member WHERE id = #{id}
    </select>

    <select id="findAll">
        SELECT id, name, price, image, description, quantity, category, brand
        FROM item
        <where>
            <if test="itemName != null and itemName != ''">
                AND name LIKE CONCAT('%', #{itemName}, '%')
            </if>
        </where>
        <if test="orderBy != null">
            ORDER BY
            <choose>
                <when test="orderBy == 'category'">
                    category, brand
                </when>
                <when test="orderBy == 'brandPriceAsc'">
                    brand, price ASC
                </when>
                <when test="orderBy == 'brandPriceDesc'">
                    brand, price DESC
                </when>
                <otherwise>
                    category ASC, price ASC
                </otherwise>
            </choose>
        </if>
    </select>


</mapper>